
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.product-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    max-width: 1200px;
}


.product-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.product-card img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.product-card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.price {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
}


.rating {
    margin-bottom: 15px;
}

.rating span {
    font-size: 0.9em;
    color: #f39c12;
}

.add-to-cart {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #444;
}
