* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.navbar {
    background-color: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    position: fixed; 
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar .container {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar .logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #9a00c0;
}

.navbar .nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar .nav-links li {
    display: inline;
}


.navbar .nav-links li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar .nav-links li a:hover {
    color: #9a00c0;
}

.reservation-btn {
    background-color: #9a00c0;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

.reservation-btn:hover {
    background-color: #9a00c0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: #f0f4f3;
    padding: 100px 0 50px; 
    margin-top: 60px; 
}

.header-content {
    flex: 1;
    padding-right: 30px;
}

header h1 {
    font-size: 36px;
    color: #1b1b1b;
}

header p {
    font-size: 18px;
    color: #777;
    margin: 20px 0;
}

.product-container {
    margin-top: 50%;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-around;  
    width: 80%;
    max-width: 1200px;

}

.product-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;  
    margin-bottom: 20px;  
}

.product-card img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}


.product-card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.price {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
}


.rating {
    margin-bottom: 15px;
}

.rating span {
    font-size: 0.9em;
    color: #f39c12;
}

.add-to-cart {
    background-color: rgb(117, 67, 124);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #444;
}

@media (max-width: 768px) {

    .header-content {
        padding: 0;
        text-align: center;
    }

    header h1 {
        font-size: 28px;
    }

    header p {
        font-size: 16px;
    }

    .product-card {
        width: 45%;
    }

    .product-container {
        margin-top: 150rem;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;  
        justify-content: space-around;  
        width: 80%;
        max-width: 1200px;
    
    }
    
    .menu-toggle {
        display: block; 
        position: relative;
        font-size: 24px;
        cursor: pointer;
        color: #1d0c01;
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 1000;
    }

    
    .navbar .nav-links {
        list-style-type: none;
        display: none;
        gap: 20px;
    }

    .nav-links.active {
        display: flex;
        margin-left: 120px;
    }
    .navbar .container {
        flex-direction: column;
        align-items: flex-start; 
    }

    .nav-links {
        display: none; 
        flex-direction: column;
        gap: 5px;
        padding: 50px 0; 
        background-color: #fff;
    }
      
}

@media (max-width: 650px) {
  
    .container, .header-content, .product-container {
        flex-direction: column;
        align-items: center;
    }

  
    header h1 {
        font-size: 24px;
    }

    header p {
        font-size: 14px;
    }

   
    .product-card {
        width: 90%;
    }

    .product-card img {
        width: 80px;
        height: 120px; 
    }

    .price {
        font-size: 1em;
    }

    .add-to-cart {
        padding: 8px 12px;
    }
}